@import "./common/transtion.css";

@n lu {
    @b alert {
        padding: 8px 16px;
        border-radius: var(--borderRadius);
        position: relative;
        display: flex;
        align-items: center;

        @when center {
            justify-content: center;
        }

        @m success {
            color: var(--backgroundGreen) color(var(--backgroundGreen) a(0.1));
        }

        @m warning {
            color: var(--yellow) color(var(--yellow) a(0.1));
        }

        @m info {
            color: var(--blue) color(var(--blue) a(0.1));
        }

        @m error {
            color: var(--backgroundRed) color(var(--backgroundRed) a(0.1));
        }

        @e icon {
            font-size: 16px;
            width: 16px;

            @when big {
                font-size: 28px;
                width: 28px;
            }

            @m info {
                color: var(--blue);

                &::before {
                    content: "\e6e4";
                }
            }

            @m success {
                color: var(--green);

                &::before {
                    content: "\e656";
                }
            }

            @m warning {
                color: var(--orange);

                &::before {
                    content: "\e662";
                }
            }

            @m question {
                color: var(--yellow);

                &::before {
                    content: "\e690";
                }
            }

            @m error {
                color: var(--red);

                &::before {
                    content: "\e658";
                }
            }
        }

        @e content {
            padding: 0 8px;
        }

        @e title {
            font-size: 13px;
            line-height: 18px;

            @when bold {
                font-weight: bold;
            }
        }

        @e closebtn {
            font-size: 12px;
            color: #b4bccc;
            position: absolute 12px 15px * *;
            cursor: pointer;

            @when customed {
                font-style: normal;
                font-size: 12px;
                top: 9px;
            }
        }

        @e description {
            font-size: 12px;
            margin: 5px 0 0;
            color: inherit;
        }
    }
}
