@import './common/var.css';
@import './common/transtion.css';

@n lu {
    @b input {
        display: inline-block;
        position: relative;
        width: 100%;

        @e icon {
            font-size: 18px;
            position: absolute;
            transition: color .15s;
            color: var(--grayDisabled);
            top: 8px;

            &:hover {
                color: rgba(var(--dark), .6);
            }

            @when prefix {
                left: 8px;
            }

            @when suffix {
                right: 8px;
            }

            &.icon-roundclosefill {
                cursor: pointer;
                display: none;
                top: 8px;
                right: 8px;
                z-index: 100;

            }

            &.icon-roundclosefill:hover {
                display: inline-block;
            }


        }

        @e default {
            appearance: none;
            display: inline-block;
            box-sizing: border-box;
            width: 100%;
            outline: none;
            padding: 8px 11px;
            overflow: visible;
            font-size: 14px;
            border: 1px solid var(--borderNormal);
            border-radius: var(--borderRadius);
            background-color: #fff;
            color: var(--dark);
            transition: var(--border-transition), background-color .15s;

            @when clearable {
                padding-right: 30px;

                &:focus+.icon-roundclosefill {
                    display: inline-block;
                }

                &:hover+.icon-roundclosefill {
                    display: inline-block;
                }

                &:hover+i+i {
                    display: none;
                }

                &:focus+i+i {
                    display: none;
                }
            }

            @when prefix {
                padding-left: 30px;
            }

            @when suffix {
                padding-right: 30px;

            }

            @m large {
                padding: 11px 11px;
                font-size: 14px;

                @when clearable {
                    &+.icon-roundclosefill {
                        top: 10px;
                    }
                }

                @when prefix {
                    &+i+i+i {
                        top: 10px;
                        font-size: 20px;
                    }
                }

                @when suffix {
                    &+i+i {
                        top: 10px;
                        font-size: 20px;
                    }
                }
            }

            @m small {
                padding: 6px 7px;
                font-size: 12px;
                border-radius: 3px;

                @when clearable {
                    &+.icon-roundclosefill {
                        top: 8px;
                        font-size: 14px;
                    }
                }

                @when prefix {
                    &+i+i+i {
                        top: 8px;
                        font-size: 14px;
                    }
                }

                @when suffix {
                    &+i+i {
                        top: 8px;
                        font-size: 14px;
                    }
                }
            }

            &:hover {
                color: var(--dark);
                border-color: var(--borderHover);
            }

            &:focus {
                border: 1px solid var(--backgroundBlue);
            }

            &[disabled] {
                background-color: #f7f9fa;
                cursor: not-allowed;
            }

            &[disabled]:hover,
            &[readonly]:hover,
            &[readonly]:focus {
                border-color: #d0d0d5;
            }

            &::-webkit-input-placeholder {
                color: #aab2bd;
            }

            &:-webkit-autofill {
                -webkit-box-shadow: 0 0 0 1000px #fff inset;
                background-color: transparent;
            }

            &[type=search] {
                -webkit-appearance: none;
                box-sizing: border-box;
            }

            &:not([type=search])::-ms-clear {
                display: none;
            }

            &[type=search]::-webkit-search-cancel-button {
                -webkit-appearance: none;
            }

            &[type=search]::-webkit-search-cancel-button:hover {
                background-color: #4c5161;
            }

            &[type="search"]::-webkit-search-results-decoration {
                display: none;
            }

            &:-webkit-autofill {
                -webkit-box-shadow: 0 0 0 1000px #fff inset;
                background-color: transparent;
            }

            @when error {
                border-color: #f4615c !important;
            }
        }
    }
}
