@import "./common/var.css";

@n lu {
    @b show-more {
        font-size: 13px;
        color: var(--dark);

        @m link {
            color: var(--blue);
            cursor: pointer;
            text-decoration: none;
        }

        @m href {
            color: var(--blue);
            cursor: pointer;
        }
    }
}
