@charset "UTF-8";
@import "./common/var.css";

.lu-col-1, .lu-col-2, .lu-col-3, .lu-col-4, .lu-col-5, .lu-col-6, .lu-col-7, .lu-col-8, .lu-col-9, .lu-col-10, .lu-col-11, .lu-col-12, .lu-col-13, .lu-col-14, .lu-col-15, .lu-col-16, .lu-col-17, .lu-col-18, .lu-col-19, .lu-col-20, .lu-col-21, .lu-col-22, .lu-col-23, .lu-col-24 {
  float: left;
  box-sizing: border-box;
}
.lu-col-0 {
  width: 0;
}

@for $i from 0 to 24 {
  .lu-col-$i {
    width: calc(1 / 24 * $(i) * 100)%;
  }
  .lu-col-offset-$i {
    margin-left: calc(1 / 24 * $(i) * 100)%;
  }
  .lu-col-pull-$i {
    position: relative;
    right: calc(1 / 24 * $(i) * 100)%;
  }
  .lu-col-push-$i {
    position: relative;
    left: calc(1 / 24 * $(i) * 100)%;
  }
}

@media (max-width: 768px) {
  @for $i from 0 to 24 {
    .lu-col-xs-$i {
      width: calc(1 / 24 * $(i) * 100)%;
    }
    .lu-col-xs-offset-$i {
      margin-left: calc(1 / 24 * $(i) * 100)%;
    }
    .lu-col-xs-pull-$i {
      position: relative;
      right: calc(1 / 24 * $(i) * 100)%;
    }
    .lu-col-xs-push-$i {
      position: relative;
      left: calc(1 / 24 * $(i) * 100)%;
    }
  }
}

@media (min-width: 768px) {
  @for $i from 0 to 24 {
    .lu-col-sm-$i {
      width: calc(1 / 24 * $(i) * 100)%;
    }
    .lu-col-sm-offset-$i {
      margin-left: calc(1 / 24 * $(i) * 100)%;
    }
    .lu-col-sm-pull-$i {
      position: relative;
      right: calc(1 / 24 * $(i) * 100)%;
    }
    .lu-col-sm-push-$i {
      position: relative;
      left: calc(1 / 24 * $(i) * 100)%;
    }
  }
}
@media (min-width: 992px) {
  @for $i from 0 to 24 {
    .lu-col-md-$i {
      width: calc(1 / 24 * $(i) * 100)%;
    }
    .lu-col-md-offset-$i {
      margin-left: calc(1 / 24 * $(i) * 100)%;
    }
    .lu-col-md-pull-$i {
      position: relative;
      right: calc(1 / 24 * $(i) * 100)%;
    }
    .lu-col-md-push-$i {
      position: relative;
      left: calc(1 / 24 * $(i) * 100)%;
    }
  }
}
@media (min-width: 1200px) {
  @for $i from 0 to 24 {
    .lu-col-lg-$i {
      width: calc(1 / 24 * $(i) * 100)%;
    }
    .lu-col-lg-offset-$i {
      margin-left: calc(1 / 24 * $(i) * 100)%;
    }
    .lu-col-lg-pull-$i {
      position: relative;
      right: calc(1 / 24 * $(i) * 100)%;
    }
    .lu-col-lg-push-$i {
      position: relative;
      left: calc(1 / 24 * $(i) * 100)%;
    }
  }
}
