:root {
    /* Transition
  -------------------------- */
    --all-transition: all .3s cubic-bezier(.645, .045, .355, 1);
    --fade-transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1);
    --tip-transition: opacity, transform .8s cubic-bezier(0.23, 1, 0.32, 1);
    --fade-linear-transition: opacity 200ms linear;
    --md-fade-transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
    --border-transition: border-color .3s cubic-bezier(.645, .045, .355, 1);
    --color-transition: color .2s cubic-bezier(.645, .045, .355, 1);
    /* // 常见颜色
---------------------------*/
    --dark: #4c5161;
    /* // 站点默认文字颜色 */
    --blue: #2486ff;
    /* // 链接色，高亮色 */
    --darkblue: #008cbf;
    /* // 蓝色链接文字hover时候的更深一点的颜色 */
    --silver: #b6bbc6;
    /* // 银色，组件一些图标的默认颜色 */
    --gray: #a2a9b6;
    /* // 灰色文字颜色 */
    --grayDisabled: #ccd0d7;
    /* // 灰色禁用 */
    --white: #fff;
    /* 白色 */
    --green: #01cf97;
    /* // 成功文字颜色，成功提示背景色 */
    --orange: #f28c48;
    /* // 用在警示处 */
    --red: #f4615c;
    /* // 出错使用 */
    --light: #f7f9fa;
    /* // 很轻的灰色，常做背景色使用 */
    /* // 边框控制 */
    --borderNormal: #d0d0d5;
    --borderHover: #ababaf;
    --borderFocus: var(--blue);
    /* 主题控制
-------------------------- */
    /* 常规 */
    --backgroundBlue: var(--blue);
    --backgroundBlueHover: #0160d5;
    --backgroundBlueActive: #0057c3;
    /* 成功 */
    --backgroundGreen: var(--green);
    --backgroundGreenHover: #00dba2;
    --backgroundGreenActive: #00bf8e;
    /* 警告 */
    --backgroundOrange: var(--orange);
    --backgroundOrangeHover: #e08243;
    --backgroundOrangeActive: #cf783e;
    /* 危险 */
    --backgroundRed: var(--red);
    --backgroundRedHover: #ff7772;
    --backgroundRedActive: #dc5652;
    /* // 列表hover色，偏蓝 */
    --backgroundList: var(--white);
    --backgroundListHover: #f2fcff;
    --backgroundListSelected: #e0f7ff;
    /* // 白色背景hover出现的淡灰色 */
    --backgroundHover: #f0f0f2;
    /* // 黑色tips背景色 */
    --backgroundDark: #373c42;
    /* // UI组件的圆角大小 */
    --borderRadius: 4px;
}
